<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Andrew Zimmerman | <%= pageTitle %></title>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico?v=2">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="header">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand"><a href="/">ASZ</a> <%if(link){%>&gt; <a href=<%=link%>><%=pageTitle%></a><%}%></p>
        </div>
        <button class="navbar-toggler navbar-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <img class="ham" src="/images/ham-menu.png" alt="Expand button">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="/">HOME</a></li>
            <li class="nav-item"><a href="/blog">BLOG</a></li>
            <li class="nav-item"><a href="/web-demos">WEB DEMOS</a></li>
            <li class="nav-item"><a href="/unity-demos">UNITY3D DEMOS</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="subtitle"><h1 class="container subtitle-text"><%= subTitle %></h1></div>
  </div>
  
  <div class="container content">
    
