<%- include("partials/header", {pageTitle: "About Me",
                                link: "",
                                subTitle: "Allow me to introduce myself..."}) -%>
<h1>Home</h1>
<p></p>
<%- include("partials/footer") -%>