<%- include("partials/header", {pageTitle: "Blog",
                                link: "/blog",
                                subTitle: <%=title%>}) -%>
<p><%= content %></p>
<%- include("partials/footer") -%>