<%- include("partials/header", {pageTitle: "Unity3D Demos",
                                link: "/unity-demos",
                                subTitle: "Here are things I made in Unity3D."}) -%>

<div class="section">
    <h1>Chess</h1>
    <iframe src="https://i.simmer.io/@astevezimm/chess" style="width:100%;"></iframe>
</div>

<div class="section even">
    <h1>Slider Puzzle</h1>
    <iframe src="https://i.simmer.io/@astevezimm/slider-puzzle" style="width:100%;"></iframe>
</div>

<div class="section">
    <h1>Puzzle Cube</h1>
    <h4 style="color:red">Note: This demo is less compatible with smaller screens</h4>
    <p>Rubik's Cube" style of puzzle with:  undo/redo history that includes a snapshot feature to save specific cube states, scrambling, a memory game, and dimensions 2 through 12. Use left mouse to perform twists. Hold down ctrl to do double twist. Right mouse to rotate. Left and right arrows to spin.</p>
    <iframe src="https://i.simmer.io/@astevezimm/puzzle-cube" style="width:100%;"></iframe>
</div>

<div class="section even">
    <h1>4 Moons</h1>
    <h4>Simulates the phases for 4 moons, for each day of the year, in the world of my WereDragon stories.</h4>
    <iframe src="https://i.simmer.io/@astevezimm/4-moons" style="width:100%;"></iframe>
</div>

<%- include("partials/footer") -%>