<%- include("partials/header", {pageTitle: "Web Demos",
                                link: "web-demos",
                                subTitle: "Here I show off small web apps."}) -%>
<h1>Web Demos</h1>
<p>web demos content</p>
<%- include("partials/footer") -%>