

body {
    background-color: #FAF3E3;
    background-image: linear-gradient(to right, #dacba8, #FAF3E3);
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:hover {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
@media (max-height: 600px) {
    .header {
        position: static;
    }
}

.subtitle {
    background-image: linear-gradient(to right, #1A4D2E , black);
    margin-top: 0;
}

.subtitle-text {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #dacba8;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    letter-spacing: 5px;
    background-color: black;
}
.navbar-nav  li a:hover {
    color: #FF9F29 !important;
}
.navbar-brand {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    color: #FF9F29 !important;
}

.navbar-brand a {
    color: #FF9F29;
}
.navbar-brand a:hover {
    color: #dacba8;
}

.container {
    position: relative;
}

.navbar-toggler {
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
}
.ham:hover {
    border: solid #1A4D2E;
}
@media (min-width: 767px) {
    .navbar-toggler {
        display: none;
    }
}
@media (max-width: 495px) {
    .navbar-brand {
        font-size: 2.4rem;
    }
}

.navbar-collapse {
    border: none;
}

.content {
    flex-grow: 1;
    animation: content-appear 1s ease-out forwards;
}
.content h1 {
    text-shadow: 1px 1px 2px black;
    color: #dacba8;
    font-size: 5rem;
    background-image: linear-gradient(to right, #FF9F29, #FAF3E3);
    padding: 10px;
    border-radius: 20% 0 0 20%;
}
@keyframes content-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.profile img {
    border-radius: 100%;
}

.skills {
    background-color: #FF9F29;
    padding: 5px 25px 65px;
    border: solid #1A4D2E 20px;
    border-radius: 25%;
    margin-top: 20px;
    margin-bottom: 100px;
    box-shadow: 1px 1px 4px black;
}
.skills h1 {
    text-align: center;
    background-image: unset;
    padding: 0;
}
.skills h3 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #dacba8;
}
@media (max-width: 767px) {
    .skills h3 {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }
    .skills {
        padding-bottom: 10px;
    }
}

.section {
    margin-bottom: 100px;
}
.even h1 {
    background-image: linear-gradient(to right, #1A4D2E, #FAF3E3);
}

.sect-w-img h2, .sect-w-img h3 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
}
.sect-w-img img {
    border-radius: 100%;
    width: 15%;
}
.sect-w-img a {
    font-size: 2rem;
}
@media (max-width: 1199px) {
    .sect-w-img h2, .sect-w-img h3 {
        margin-left: 0;
    }
    .sect-w-img img {
        display: none;
    }
}

.categories {
    margin-bottom: 20px;
}
.cat-link {
    margin-top: 0;
}
.cat-current {
    color: #173753;
    text-decoration: underline;
    text-shadow: 1px 1px 2px #FAF3E3;
}

.post {
    text-shadow: 1px 1px 2px black;
    color: #dacba8;
    background-image: linear-gradient(to bottom, #FF9F29, #FAF3E3);
    max-width: 400px;
    text-align: center;
    border-radius: 5% 5% 0 0;
}
.post h3 {
    padding-top: 10px;
    height: 63px;
}
.post-even {
    background-image: linear-gradient(to bottom, #1A4D2E, #FAF3E3);
}
.post:hover {
    cursor: pointer;
    color: black;
    background-image: linear-gradient(to bottom, #FF9F29, black);
}
.post-even:hover {
    background-image: linear-gradient(to bottom, #1A4D2E, black);
}
@media (max-width: 767px) {
    .post {
        margin: 0 auto;
    }
}
.category {
    height: 40px;
}

.blog-content {
    font-size: 16px;
    max-width: 940px;
    margin: 0 auto;
}
.blog-bottom {
    height: 50px
}

.post-cat {
    margin-bottom: 20px;
}
@media (min-width: 1200px) {
    .post-cat {
        margin-left: 50px;
    }
}

.page-not-found {
    margin: 20px auto;
    width: 50%;
    text-align: center;
    font-size: 7rem;
    background-color: #FF9F29;
    color: #FAF3E3;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #948b75;
    text-shadow: 1px 1px 3px #948b75;;
}
@media (max-width: 767px) {
    .page-not-found {
        width: 100%;
        padding: 0;
    }
}

.footer {
	text-align: center;
	bottom: 0;
	width: 100%;
    height: 90px;
	background-color: #FF9F29;
    z-index: 1;
}

.footer h4 {
    padding-top: 20px;
}

.footer p {
	font-size: 15px;
    color: #fff;
    padding-bottom: 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.publish-button {
    margin-top: 20px;
}
